<input #guessInput id="guessInput" (keydown)="onGuessEntryInputKeyDown($event)"
       autocomplete="off"
       type = 'text'
       width = '100px'
       tabIndex = {0}
       autoFocus
/>
<!--
       onInput={this.onInput.bind(this)}
       onKeyDown = {this.onRealKeyDown.bind(this)}
       onBlur = {this.onBlur.bind(this)}
-->
<!--  the previous guesses -->
<div>
    @for (guessLine of guessLines; track $index; let idx = $index) {
    <br/>
    <span>{{idx}}: {{guessList[idx].guess}} {{guessList[idx].posMap}}</span>
    <div>
        @for (char of guessLine.chars; track $index;) {
        <span>{{char.chval}} {{char.bgcolor}}, </span>
        }
        totals:
        @for (total of guessLine.totals; track $index;) {
        <span>{{total.numval}} {{total.bgcolor}}, </span>
        }
    </div>
    }

</div>

<div>
    @for (ch of inputChars; track $index;) {
    <span class="boxed-char" [innerHTML]="ch"></span>
    }
</div>

<div>
    <br/>
    <br/>
    
    <div [ngStyle]="{'background-color' : message.bgcolor}" >
        {{message.html}}
        <br/>
        {{message.defs}}
    </div>
</div>
